.wrapper{
    display: block;

}

.wrapper h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,166,81,255);
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100%;
}

.card-wrapper .around{
    margin: 8px;
}

.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}