.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.assignments-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    padding: 20px;
    gap: 5px;
}

.assignment-card {
    flex-basis: 200px; /* Sets a base size for each card */
    background-color: #f9f9f9;
    padding: 8px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.assignment-card h2 {
    color: #0056b3;
    margin-bottom: 10px;
}

.assignment-card p {
    color: #333;
    line-height: 1.5;
}

.assignment-card p strong {
    color: #000;
}
